<div class="button-bar">
  <button mat-icon-button [ngClass]="digitCssClass(digit)" [disabled]="digitCssClass(digit).exhaustedDigit" class="digit"
    *ngFor="let digit of [1, 2, 3, 4, 5, 6, 7, 8, 9]" (click)="onDigitClicked(digit)">{{ digit }}</button>
  <button mat-icon-button [ngClass]="digitCssClass(0)" class="digit" (click)="onFillClicked()" matTooltip="{{'fillCell' | translate}}">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button [ngClass]="digitCssClass(0)" class="digit" (click)="onCandidatesClicked()" matTooltip="{{'editCandidates' | translate}}">
    <mat-icon>ink_eraser</mat-icon>
  </button>
  <button mat-icon-button [ngClass]="digitCssClass(0)" class="digit" (click)="onUndoClicked()" matTooltip="{{'undo' | translate}}">
    <mat-icon>undo</mat-icon>
</button>
</div>
