@use "sass:math";

$cell-size: 8.5vmin;
$max-cell-size: 58px;

$roboto-to-cell: math.div(5, 8);
$roboto-font-size: $roboto-to-cell * $cell-size;
$max-roboto-font-size: $roboto-to-cell * $max-cell-size;

$swanky-to-cell: math.div(6, 8);
$swanky-font-size: $swanky-to-cell * $cell-size;
$max-swanky-font-size: $swanky-to-cell * $max-cell-size;
