<button mat-button (click)="newGame.emit()">
    <mat-icon fontSet="material-symbols-outlined">play_circle</mat-icon>
    {{ 'newGame' | translate }}
</button>
<button mat-button (click)="ownGame.emit()">
    <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
    {{ 'ownGame' | translate }}
</button>
<button mat-button (click)="importGame.emit()">
    <mat-icon fontSet="material-symbols-outlined">file_open</mat-icon>
    {{ 'importGame' | translate }}
</button>
<button mat-button (click)="resetGame.emit()">
    <mat-icon fontSet="material-symbols-outlined">refresh</mat-icon>
    {{ 'resetGame' | translate }}
</button>
<hr>

<button mat-button (click)="about.emit()">
    <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
    {{ 'about' | translate }}
</button>